page-splash {
    ion-content {
    background: $bg-grad!important;
    }
    
    .slide-zoom {
            height:100%;
                }
    
        .slide-title {
            margin-top:2rem;
            text-align:center;
            font-size:1.5em;
        }
    
        .slide-image {
            max-height: 40%;
            height:60px;
            max-width: 60%;
            margin: 36px 0;
        }
    
        p {
            padding: 0 40px;
            font-size:1em;
            line-height:1.5;
        }

    

        .logo-wrapper {
            padding: 2em 0;

        }
        .logo-wrapper img {
            display: block;
            margin: 0 auto;
            text-align:center!important;
        }

        ion-slides {
            max-height: 50vh;
        }

}
