page-splash {
    ion-content {

    h2,p {
        font-family: 'special-elite', cursive;
    }    
    background: $bg-grad!important;
    }
    
    .slide-zoom {
            height:100%;
                }
    
        .slide-title {
            margin-top:2rem;
            text-align:center;
            font-size:18px;
        }
    
        .slide-image {
            max-height: 40%;
            height:60px;
            max-width: 60%;
            margin: 0 auto;
        }
    
        p {
            padding: 0 40px;
            font-size:16px;
            line-height:1.5;
        }

    

        .logo-wrapper {
            padding: 3em 0 0;
            width:30vw;
            margin: 0 auto;

        }
        .logo-wrapper img {
            display: block;
            margin: 0 auto;
            width:100%;
            height:auto;
            text-align:center!important;
        }

        img.arrow {
            clear:both;
            display:block;
            text-align:center;
            margin:0 auto;
            height:32px;
        }

        ion-slides {
            max-height:  100%;
            
        }

        .slides {
            height:auto;
        }

        ion-slides ion-slide {
            padding: 0 1em!important;

        }

        .swiper-pagination {
            //position:fixed!important;

        }

}
