page-home {
  background-color: white;
  color: black;
}

input {
  text-align: center;
  margin: 15px $margin;
  border-radius: 5px;
  border: 1px solid grey;
  width: 90%;
  height: 5%;
  background-color: whitesmoke;
}

ion-card {
  min-width: 180px;
  min-height: 120px;
}

ion-card-content {
  display: flex;
  justify-content: space-between;
}

ion-list {
  flex: 1;
  overflow: scroll;
  display: flex;
  align-items: flex-end;
}
