<ion-content padding>
  <h1 page-title>Hi{{user}}, what would you like to do?</h1>
  <div>
    <input placeholder="Search">
  </div>

  <div>
    <h2>Featured</h2>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let product of featured">
            <ion-card (click)="navigateToPage('DetailPage', product)">
              <ion-card-header>
                <img src={{product.image}}>
              </ion-card-header>
              <ion-card-content>
                <div>{{product.price}}</div>
                <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff"
                  defaultColor="#007AFF" readonly="true" rating="{{product.rating}}">
                </ionic3-star-rating>
                <h3>{{product.name}}</h3>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>

  <h2>Restaurants</h2>
  <hr>
  <ion-slides pager slidesPerView=2 spaceBetween=250 loop>
    <ion-slide *ngFor="let product of restaurants">
      <ion-card (click)="navigateToPage('DetailPage', product)">
        <ion-card-header>
          <img src={{product.image}}>
        </ion-card-header>
        <ion-card-content>
          <div id="meta">
            <div>{{product.price}}</div>
            <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff" defaultColor="#007AFF"
              readonly="true" rating="{{product.rating}}">
            </ionic3-star-rating>
          </div>
          <h3>{{product.name}}</h3>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h2>Shops</h2>
  <hr>
  <ion-slides pager slidesPerView=2 spaceBetween=250 loop>
    <ion-slide *ngFor=" let product of shops">
      <ion-card (click)="navigateToPage('DetailPage', product)">
        <ion-card-header>
          <img src={{product.image}}>
        </ion-card-header>
        <ion-card-content>
          <div id="meta">
            <div>{{product.price}}</div>
            <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff" defaultColor="#007AFF"
              readonly="true" rating="{{product.rating}}">
            </ionic3-star-rating>
          </div>
          <h3>{{product.name}}</h3>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h2>Activities</h2>
  <hr>
  <ion-slides pager slidesPerView=2 spaceBetween=250 loop>
    <ion-slide *ngFor=" let product of activities">
      <ion-card (click)="navigateToPage('DetailPage', product)">
        <ion-card-header>
          <img src={{product.image}}>
        </ion-card-header>
        <ion-card-content>
          <div id="meta">
            <div>{{product.price}}</div>
            <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff" defaultColor="#007AFF"
              readonly="true" rating="{{product.rating}}">
            </ionic3-star-rating>
          </div>
          <h3>{{product.name}}</h3>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>