page-detail {
    font-family: $font-family;

    #bookmark {
        position: absolute;
        transform: scale(4);
        margin-top: 32px;
        margin-left: 290px;
        
    }

    #bookmark-button {
        width: 35%;
        height: 35px;
        margin-right: 20px !important;
    }

    .ion-ios-bookmark:before {
        content: "\f12e";
        color: color($colors, primary);
    }

    #background-image {
        margin-top: 15px;
        height: 40%;
    }

    .scroll-content {
        padding-top: 0 !important;
    }

    h1 {
        text-align: center;
        border-bottom: 1px solid black; 
    }

    ionic3-star-rating {
        margin-top: -8px;
        transform: scale(0.8);
    }

    div {
        //border: 2px solid black;
    }
    
    .row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #detail-container {
        display: flex;
        flex-direction: row;
        margin-left: 17px;
        #detail {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-left: 8px;
        }
        .price-level {
            font-weight:700;
            letter-spacing: .2em;
            font-size:24px;
            color:color($colors,secondary);
            $ts:1px;
            -webkit-text-stroke:$ts #666;
            
        }
    }

    #description {
        margin-top: 15px;
        font-size: 16.5px;
    }

    .small-rating .ionic3-star-rating {
        transform:scale(.5);
        margin-left: -10vw;
    }

    ion-slides {
        margin-top: -15px;
        height: 50%;
        ion-slide {
            img {
                transform: scale(1.5);
                width: 50vw !important;
                filter: blur(1px);
            }
        }
    }
    .swiper-slide-active {
        img {
          filter: blur(0);
        }
      }
}
