<ion-header>
  <ion-navbar>
    <ion-title>{{product.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-icon *ngIf=(this.bookmarked) id="bookmark" ios="ios-bookmark" md="md-bookmark"></ion-icon>
  <img id="background-image" src="{{product.image}}">
  <h1>{{product.name}}</h1>
  <div id="content-container">
    <div class="row">
      <div id="detail-container">
        <ion-icon id="icon" style="transform: scale(1.4); margin-top: 10px;" name="time"></ion-icon>
        <div id="detail">
          <p style="margin-top: 6px; margin-left: 3px;">{{product.hours}}</p>
        </div>
      </div>
      <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff" defaultColor="#007AFF"
        readonly="true" rating="{{product.rating}}">
      </ionic3-star-rating>
    </div>
    <div class="row">
      <div id="detail-container">
        <ion-icon id="icon" style="transform: scale(1.8); margin-top: 19px;" name="pin"></ion-icon>
        <div id="detail">
          <p style="margin-bottom: 0; margin-top: 2px; margin-left: 5px;">{{product.location}}</p>
          <p style="margin-top: 0; margin-left: 5px;">{{product.zip}}</p>
        </div>
      </div>
      <button id="bookmark-button" (click)="bookmark()" ion-button>{{this.bookmarkText}}</button>
    </div>
  </div>

  <div id="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>

  <h2>Featured Images</h2>
  <hr>
  <ion-slides pager loop>
    <ion-slide *ngFor="let picture of gallery">
      <img src={{picture}}>
    </ion-slide>
  </ion-slides>

  <h2>
    Reviews
  </h2>
  <hr />

  <!--COMMENTS-->
  <ion-card *ngFor="let comment of comments">

    <ion-item>
      <ion-avatar item-start>
        <img src="{{comment.profileImg}}">
      </ion-avatar>
      <h2 [innerText]="comment.author"></h2>
      <p [innerHTML]="comment.timestamp"></p>
    </ion-item>

    <ion-card-content>
      <p [innerHTML]="comment.message"></p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <div class="small-rating">
            <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#666" defaultColor="#666"
              readonly="true" rating="{{comment.rating}}">
            </ionic3-star-rating>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- Add Comment -->
  <div class="comment-text-area">
    <ion-list>
      <ion-item>
        <ion-textarea (click)="tooltip()" placeholder="Add a comment ..." disabled="true"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="show" class="comment-notice">
        <p>Reviews on this page is temporarily disabled due to spam....</p>
      </ion-item>
    </ion-list>
  </div>
  <!--.COMMENTS-->
  <h2>
    Featured
  </h2>
  <hr />
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let product of featured">
          <ion-card (click)="navigateToPage('DetailPage', product)">
            <ion-card-header>
              <img src={{product.image}}>
            </ion-card-header>
            <ion-card-content>
              <div>{{product.price}}</div>
              <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff"
                defaultColor="#007AFF" readonly="true" rating="{{product.rating}}">
              </ionic3-star-rating>
              <h3>{{product.name}}</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>